.resultContainer {
    width: 40%;
    border: 1px solid var(--dark-color-b);
    border-radius: 10px;
    margin: 147px auto auto;
    padding: 25px 0;
    text-align: center;
    background-color: var(--dark-color-b);
}

.btnTryAgain {
    cursor: pointer;
    padding: 5px 30px;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 38px;
}

.btnTryAgain:hover {
    background: var(--dark-color-a);
}

.result {
    margin-top: 20px;
    font-size: 20px;
}